<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>


<div class='project show'>

	<section class="show-container">
		<article class="info-card">
			<h2><%= @project.name %></h2>

			<table summary="subject detail view">
				<tr>
					<th align="left">Project:</th>
					<td><%= @project.project_number %></td>
				</tr>
				<tr>
					<th align="left">Address:</th>
					<td><%= @project.address %></td>
				</tr>
				<tr>
					<th align="left">City:</th>
					<td><%= @project.city %></td>
				</tr>
				<tr>
				<tr>
					<th align="left">State:</th>
					<td><%= @project.state %></td>
				</tr>
				<tr>
				<tr>
					<th align="left">County:</th>
					<td><%= @project.county %></td>
				</tr>
				<tr>
					<th align="left">Coordinates:</th>
					<td id="coords"><span id='lat'><%= @project.latitude %></span>, <span id='lng'> <%= @project.longitude %></span></td>
				</tr>
				<tr>
					<th align="left">Elevation:</th>
					<td><%= @project.elevation %> feet</td>
				</tr>

			</table>
		</article>

		<!-- <article class="map-card"> -->
			<div id="map"></div>
		<!-- </article> -->


	</section>



</div>

<%= link_to "Back", projects_path, :class => 'back_link' %> |
<%= link_to "Edit", edit_project_path(params[:id]), :class => 'edit_link'  %> |
<%= link_to "Home", root_path, :class => 'home_link'  %> |
<%= link_to "Delete", delete_project_path(@project), :class => 'delete_link'  %>


<script>
	  // var coords = (document.getElementById("coords").innerHTML).split(",");
	  // var latitude = coords[0];
	  // var longitude = coords[1];

// 	  var marker;

// 	  function initMap() {

// 	  	var lat = parseFloat(document.getElementById('lat').innerHTML);
// 	  	var lng = parseFloat(document.getElementById('lng').innerHTML);

// 	  	var coords = {lat, lng};

// 	  	console.log(coords);

//   		// The map, centered at Uluru
//   		var map = new google.maps.Map(
//       document.getElementById('map'), {zoom: 18, center: coords});

//   		marker = new google.maps.Marker({
//   			position: coords,
//   			animation: google.maps.Animation.DROP,
//   			map: map
//   		});

//   		marker.addListener('click', toggleBounce);

// 		}

// 		function toggleBounce() {
//   if (marker.getAnimation() !== null) {
//     marker.setAnimation(null);
//   } else {
//     marker.setAnimation(google.maps.Animation.BOUNCE);
//   }
// }

</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeKNhV01zZM30gvZIKivEY47cFTzjLmlA&callback=initMap">
    </script>


















