<!DOCTYPE html>
<html>
  <head>
    <title>MapSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="card-container">

      <section class="nav-card nav-container">

      <%= link_to root_path, :class => "link-text" do  %>
        <article class="nav-section nav-section-1">
          <div class="nav-text">
            HOME
          </div>
        </article>
      <% end %>

        <article class="nav-section nav-section-2"></article>
        <article class="nav-section nav-section-3"></article>
        <article class="nav-section nav-section-4"></article>

      </section>

      <%= yield %>
    </section>





  </body>
</html>
